<div class="container">
    <div fxFill fxLayout="row" fxLayoutAlign="center start">
        <mat-card fxFlex="50" >
            <mat-card-header fxLayoutAlign="center center" >
                <mat-card-title> Welcome to KD "Kingo Disco" App!</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                This app is created by Ilkay Ivrendi!
                Purpose of this app to provide musicians a platform to have live performances, music share and many
                more!
            </mat-card-content>
            <mat-card-footer>
                <span>App Version:</span> {{version}}
            </mat-card-footer>
        </mat-card>
    </div>
</div>